import os
basedir = os.path.abspath(os.path.dirname(__file__))

class Config(object):
    DEBUG = False
    TESTING = False
    CSRF_ENABLED = True
    SECRET_KEY = 'antonina'
    SQLALCHEMY_DATABASE_URI = ''
    ROLES = ['admin', 'educator', 'student']
    COURSE_LOCATIONS = [
        ('Azraq', 'Jordan'),
        ('Kakuma', 'Kenya'),
        ('Geneva', 'Switzerland')
    ]
    ADMIN_USER = ("EMAIL", "PWD")


class ProductionConfig(Config):
    DEBUG = False

class StagingConfig(Config):
    DEVELOPMENT = True
    DEBUG = True


class DevelopmentConfig(Config):
    DEVELOPMENT = True
    DEBUG = True


class TestingConfig(Config):
    TESTING = True
